@import './__item/photo-grid__item.css';

.photo-grid {
  padding: 94px 48px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

@media (max-width : 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    row-gap: 15px;
  }
}

@media (max-width : 768px) {
  .photo-grid {
    padding: 90px 24px 0;
    grid-template-columns: repeat(2, auto);
    row-gap: 16px;
  }
}
