@import './__background/cover__background.css';
@import './__overlay/cover__overlay.css';
@import './__title/cover__title.css';
@import './__subtitle/cover__subtitle.css';

.cover {
  margin: 96px 48px 0;
  position: relative;
  color: #FFFFFF;
}
