.footer__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (max-width: 720px) {
  .footer__links-list {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;
  }
}
