@import './__links-list/footer__links-list.css';
@import './__link-item/footer__link-item.css';
@import './__link/footer__link.css';
@import './__copyright/footer__copyright.css';

.footer {
  padding: 94px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .footer {
    padding: 86px 24px 24px;
  }
}

@media (max-width : 720px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width : 320px) {
  .footer {
    padding: 64px 16px 24px;
  }
}
