@import './__links-list/footer__links-list.css';
@import './__link-item/footer__link-item.css';
@import './__link/footer__link.css';
@import './__copyright/footer__copyright.css';

.footer {
  margin: 94px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
