.place__place {
  display: grid;
  grid-template-columns: calc(46.7%) auto;
  row-gap: 48px;
  column-gap: 40px;
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .place__place {
    grid-template-columns: calc(47.5%) auto;
    column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .place__place {
    grid-template-columns: calc(47.3%) auto;
    column-gap: 28px;
    margin-top: 74px;
  }
}

@media (max-width: 720px) {
  .place__place {
    grid-template-columns: auto;
  }
}

@media (max-width: 320px) {
  .place__place {
    row-gap: 32px;
    margin-top: 45px;
  }
  .place__place:first-of-type {
    margin-top: 56px;
  }
}
 